/* 
Small Desktop Screen - 1100px 
*/
@media screen and (max-width: 1100px) {
    
}

/* 
Tablet Screen - 700px 
*/
@media screen and (max-width: 700px) {
    
}

/* 
Phone Screen - 600px
*/
@media screen and (max-width: 600px) {
    /* COMMON */
    /* Variables */
    :root{
        /* Measurable */
        --sidebar-width: 50px;
        --margin-gap-sidebar: 1em;
    }

    /* Buttons */
    /* Button Download */
    #btn-download{
        border-bottom: none;
        justify-content: center;
    }

    #btn-download span{
        display: none;
    }

    /* Button Profile */
    #btn-profile{
        justify-content: center;
    }

    #btn-profile h4{
        display: none;
    }

    #photo-user img{
        margin: 0;
    }

    /* SIDEBAR */
    /* Header Sidebar*/
    .header-sidebar{
        margin-top: .5em;
    }

    /* logo */
    #big-logo{
        display: none;
    }
    
    #small-logo{
        display: block;
    }

    /* Main Sidebar*/
    /* menu */
    .main-sidebar li span{
        display: none;
    }

    .main-sidebar .sidebar-menu li{
        justify-content: center;
    }

    /* playlist */
    .main-sidebar .sidebar-playlist{
        display: none;
    }

    /* Footer Sidebar */
    
}