/* 
Small Desktop Screen - 1100px 
*/
@media screen and (max-width: 1100px) {
   /* COMMON */
   /* Card List Style */
    .card-item{
        width: calc(100% / 4 - 1em);
        text-align: center;
    }
}

/* 
Tablet Screen - 700px 
*/
@media screen and (max-width: 700px) {
    /* COMMON */
    /* Variables */
    :root{
        /* Measurable */
        --player-album-volume-widht: 160px;
    }

   /* Card List Style */
   .card-item{
    width: calc(100% / 2 - 1em);
    text-align: center;
   }


    /* PLAYER BAR */
    /* Player Album */
    .player-album .action{
        flex-direction: column;
        justify-content: center;
    }

    /* Player volume */
    .player-volume .icon{
        width: calc((100% - 70px - 1em));
        height: 100%;
        font-size: 1em;
        color: var(--grey-light);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    
    .player-volume .volume-bar{
        width: 70px;
        height: 5px;
        background-color: var(--grey-light);
        margin-right: 1em;
    }

    .player-volume .icon i{
        padding: 0.2em;
    }
        
}

/* 
Phone Screen - 600px
*/
@media screen and (max-width: 600px) {
    /* COMMON */
    /* Variables */
    :root{
        /* Measurable */
        --sidebar-width: 50px;
        --margin-gap-sidebar: 1em;
    
    }

    /* Buttons */
    /* Button Download */
    #btn-download{
        border-bottom: none;
        justify-content: center;
    }

    #btn-download span{
        display: none;
    }

    /* Button Profile */
    #btn-profile{
        justify-content: center;
    }

    #btn-profile h4{
        display: none;
    }

    #photo-user img{
        margin: 0;
    }

    /* SIDEBAR */
    /* logo */
    #big-logo{
        display: none;
    }
    
    #small-logo{
        display: block;
    }

    /* Main Sidebar*/
    /* menu */
    .main-sidebar li span{
        display: none;
    }

    .main-sidebar .sidebar-menu li{
        justify-content: center;
    }

    /* playlist */
    .main-sidebar .sidebar-playlist{
        display: none;
    }
    
}